# Ignore everything by default
*

# Allow directories to look for allowed files
!*/

# Exclude .gitignore itself
!.gitignore

# Whitelisted files to track
!Kafka_ui_updated.py
!kafka_truststore.pem

# UI Assets needed to run the app
!logo.png
!icon.ico
